:root {
  /* Fonts */
  --primary-fonts: "Roboto";
  --secondary-fonts: "Raleway";
  /* Text colors */
  --primary-txt-cl: #2e2f42;
  --secondary-txt-cl: #434455;
  --accent-txt-cl: #4d5ae5;
  --light-txt-cl: #ffffff;
  --third-txt-cl: #e7e9fc;
  --hover-txt-cl: #404bbf;

  /* BG colors */
  --primary-bg-cl: #2e2f42;
  --accent-bg-cl: #404bbf;
  --secondary-bg-cl: #f4f4fd;
  --light-bg-cl: #ffffff;
  --third-bg-cl: #e7e9fc;
  --btn-bg-cl: #4d5ae5;

  /* Others */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Container */
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: var(--primary-txt-cl);
  width: 100%;
}

img {
  display: block;
}

button {
  cursor: pointer;
}
/* Reset Link Styles */
.link {
  text-decoration: none;
  font-style: normal;
  color: currentColor;
}
/* Reset List Styles */
.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Section */
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Header */
.header {
  border-bottom: 1px solid #e7e9fc;
  padding-top: 24px;
  padding-bottom: 24px;
}
.header-nav {
  display: flex;
  margin-right: 332px;
}
.header-logo-link {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: calc(24 / 18);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}
.logo-part {
  color: var(--accent-txt-cl);
}
.header-list {
  display: flex;
  gap: 40px;
}
.header-item {
}
.header-link {
  font-weight: 500;
  color: var(--primary-txt-cl);
}
.header-link-1 {
  font-weight: 500;
  color: var(--accent-txt-cl);
}
.header-link:hover,
.header-link:focus,
.header-link-1:hover,
.header-link-1:focus {
  color: var(--hover-txt-cl);
}
.header-link,
.header-link-1,
.header-contact,
.header-contact-1 {
  display: block;
}
.address-list {
  display: flex;
  gap: 40px;
}
.header-contact {
  color: var(--secondary-txt-cl);
}
.header-contact-1 {
  color: var(--secondary-txt-cl);
}
.header-contact:hover,
.header-contact:focus,
.header-contact-1:hover,
.header-contact-1:focus {
  color: var(--accent-bg-cl);
}

.header-container {
  display: flex;
  align-items: center;
}

/* Hero */
.hero-section {
  background-color: var(--primary-bg-cl);
  color: var(--light-txt-cl);
  padding-bottom: 188px;
  padding-top: 188px;
}
.hero-title {
  font-size: 56px;
  line-height: calc(60 / 56);
  width: 494px;
  margin: auto;
  margin-bottom: 48px;
}
.hero-button {
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.04em;
  color: var(--light-txt-cl);
  background-color: var(--btn-bg-cl);
  border: 0;
  border-radius: 4px;
  padding: 16px 32px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--accent-bg-cl);
}

/* Our advantages */
.features-section {
}
.features-container {
}
.features-list {
  display: flex;
  gap: 24px;
}
.list-item {
  width: 264px;
}
/* .list-item::before {
  display: block;
  content: "";
  height: 112px;
  background-color: var(--secondary-bg-cl);
  border-radius: 4px;
  background-image: url(../images/antenna\ 1.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 64px 64px;
  background-position: center;
} */
.features-title {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  margin-bottom: 8px;
}
.features-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  color: var(--secondary-txt-cl);
}

/* Our work */
.work-section {
  padding-top: 0px;
}
.work-section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(40 / 36);
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-txt-cl);
  margin-bottom: 72px;
  margin-top: ;
  display: flex;
  justify-content: center;
}
.work-container {
}
.work-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.work-item {
  width: calc(100% - 24px * 2) / 3;
}
.work-item-img {
}

/* Our Team */
.team-section {
  background-color: var(--secondary-bg-cl);
  padding-bottom: 120px;
  padding-top: 120px;
}
.team-section-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(40 / 36);
  text-transform: capitalize;
  color: var(--primary-txt-cl);
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.team-item {
  background-color: var(--light-bg-cl);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 32px;
  width: calc((100% - 24px * 3) / 4);
}

.team-item-img {
  margin-bottom: 32px;
}
.team-item-name {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  color: var(--primary-txt-cl);
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
}
.team-item-desc {
  color: var(--secondary-txt-cl);
  display: flex;
  justify-content: center;
}
/* Footer */
.footer {
  background-color: var(--primary-bg-cl);
  color: var(--third-txt-cl);
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-container {
  display: flex;
  flex-direction: column;
}
.footer-logo-link {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: calc(21 / 18);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.logo-part-1 {
  color: var(--accent-txt-cl);
}
.footer-desc {
  width: 264px;
}
/* PORTFOLIO Styles */

/* Filter Section */
.filter-section {
  padding-bottom: 120px;
  padding-top: 96px;
}
.filter-list {
  margin-bottom: 72px;
  display: flex;
  justify-content: center;
}
.filter-item {
}
.filter-btn {
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.04em;
  color: var(--accent-txt-cl);
  background-color: var(--secondary-bg-cl);
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  display: block;
  margin-right: 24px;
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--accent-bg-cl);
  color: var(--light-txt-cl);
}

/* Content Section */
.content-section {
}
.content-container {
}
.content-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.content-link {
}
.content-item {
  width: calc((100% - 24px * 2) / 3);
}
.content-item-name {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  margin-bottom: 8px;
}
.content-item-desc {
  color: var(--secondary-txt-cl);
}
.text-container {
  border-left: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 0px 32px 16px;
}
